--- Day 11: Hex Ed ---

Crossing the bridge, you've barely reached the other side of the stream when a program comes up to you, clearly in distress. "It's my child process," she says, "he's gotten lost in an infinite grid!"

Fortunately for her, you have plenty of experience with infinite grids.

Unfortunately for you, it's a hex grid.

The hexagons ("hexes") in this grid are aligned such that adjacent hexes can be found to the north, northeast, southeast, south, southwest, and northwest:

```
  \ n  /
nw +--+ ne
  /    \
-+      +-
  \    /
sw +--+ se
  / s  \
```

You have the path the child process took. Starting where he started, you need to determine the fewest number of steps required to reach him. (A "step" means to move from the hex you are in to any adjacent hex.)

For example:

ne,ne,ne is 3 steps away.
ne,ne,sw,sw is 0 steps away (back where you started).
ne,ne,s,s is 2 steps away (se,se).
se,sw,se,sw,sw is 3 steps away (s,s,sw).

In [3]:
start = [0, 0]

In [13]:
with open("day11.txt") as f:
    data = f.readlines()

In [14]:
steps = [x.split(",") for x in data][0]

In [15]:
steps[0:10]

['nw', 'n', 'ne', 'sw', 's', 's', 'se', 'se', 'ne', 's']

In [16]:
len(steps)

8223

In [36]:
n = [0, 1.0]
ne = [1, 0.5]
se = [1, -0.5]
s = [0, -1.0]
sw = [-1, -0.5]
nw = [-1, 0.5]

In [19]:
import numpy as np

In [39]:
# test cases
# ne,ne,ne = 3
test1 = start[0] + ne[0], start[1] + ne[1]
test1 = test1[0] + ne[0], test1[1] + ne[1]
test1 = test1[0] + ne[0], test1[1] + ne[1]
test1

(3, 1.5)

In [32]:
def move(start, step):
    new_loc = start[0] + step[0], start[1] + step[1]
    return new_loc

In [46]:
# ne,ne,sw,sw = 0
test2_steps = [ne,ne,sw,sw]
test2 = start
for x in test2_steps:
    test2 = move(test2, x)
test2

(0, 0.0)

In [48]:
# ne,ne,s,s = 2
test3 = start[0] + ne[0], start[1] + ne[1]
test3 = test3[0] + ne[0], test3[1] + ne[1]
test3 = test3[0] + s[0], test3[1] + s[1]
test3 = test3[0] + s[0], test3[1] + s[1]
print(test3)
test3_steps = [ne,ne,s,s]
test3 = start
for x in test3_steps:
    test3 = move(test3, x)
print(test3)

(2, -1.0)
(2, -1.0)

In [51]:
# se,sw,se,sw,sw = 3
test4_steps = [se,sw,se,sw,sw]
test4 = start
for x in test4_steps:
    test4 = move(test4, x)
print(test4)
test4 = move(start, se)
test4 = move(test4, sw)
test4 = move(test4, se)
test4 = move(test4, sw)
test4 = move(test4, sw)
print(test4)

(-1, -2.5)
(-1, -2.5)

In [52]:
for x in test4_steps:
    print(x)

[1, -0.5]
[-1, -0.5]
[1, -0.5]
[-1, -0.5]
[-1, -0.5]

In [56]:
eval(steps[0])

[-1, 0.5]

In [57]:
final = start
for x in steps:
    final = move(final, eval(x))
final

(473, 445.5)

In [66]:
backwards = final
countdown = 473
while countdown > 0:
    backwards = move(backwards, sw)
    countdown += -1
backwards

(0, 209.0)

In [67]:
473+209

682

That's the right answer! You are one gold star closer to debugging the printer.

--- Part Two ---

How many steps away is the furthest he ever got from his starting position?

In [68]:
pt2_steps = {}
pt2 = start
counter = 1
for x in steps:
    pt2 = move(pt2, eval(x))
    pt2_steps[counter] = pt2
    counter += 1

In [69]:
counter

8224

In [71]:
import pandas as pd

In [85]:
df = pd.DataFrame.from_dict(pt2_steps, orient="index")
df.head()

   0    1
1 -1  0.5
2 -1  1.5
3  0  2.0
4 -1  1.5
5 -1  0.5

In [87]:
df.rename({0: 'x', 1: 'y'}, axis='columns', inplace=True)

In [89]:
df.describe()

                x            y
count  8223.00000  8223.000000
mean    346.07248   345.779156
std     355.04302   524.827718
min    -342.00000  -458.000000
25%      61.00000   -89.500000
50%     386.00000   299.500000
75%     685.00000   868.750000
max     800.00000  1180.500000

In [93]:
max_x = df[df['x'] == max(df['x'])]
df_max_x = max_x[max_x['y'] == max(max_x['y'])]
df_max_x

        x      y
3896  800  170.0

In [94]:
max_y = df[df['y'] == max(df['y'])]
df_max_y = max_y[max_y['x'] == max(max_y['x'])]
df_max_y

        x       y
6589  349  1180.5

In [102]:
max_x_coor = df_max_x.x.values.tolist() + df_max_x.y.values.tolist()
max_y_coor = df_max_y.x.values.tolist() + df_max_y.y.values.tolist()

In [103]:
max_x_coor, max_y_coor

([800, 170.0], [349, 1180.5])

In [105]:
backwards = max_x_coor
countdown = 170*2
while countdown > 0:
    backwards = move(backwards, sw)
    countdown += -1
backwards

(460, 0.0)

In [106]:
460+170*2

800

In [109]:
backwards = max_y_coor
countdown = 349
while countdown > 0:
    backwards = move(backwards, sw)
    countdown += -1
backwards

(0, 1006.0)

In [110]:
349+1006

1355

In [112]:
df['total'] = abs(df['x']) + abs(df['y'])

In [113]:
df.tail()

        x      y  total
8219  476  446.0  922.0
8220  475  445.5  920.5
8221  474  445.0  919.0
8222  473  444.5  917.5
8223  473  445.5  918.5

In [115]:
df[df['total'] == max(df['total'])]

        x       y   total
7010  637  1071.5  1708.5
7022  643  1065.5  1708.5

In [116]:
backwards = [637, 1071.5]
countdown = 637
while countdown > 0:
    backwards = move(backwards, sw)
    countdown += -1
backwards

(0, 753.0)

In [117]:
637+753

1390

That's not the right answer; your answer is too low.

In [118]:
backwards = [643, 1065.5]
countdown = 643
while countdown > 0:
    backwards = move(backwards, sw)
    countdown += -1
backwards

(0, 744.0)

In [119]:
643+744

1387

In [132]:
def find_dist(x, y):
    x = abs(x)
    y = abs(y)
    dist = 0.5*x*y
    return dist

In [133]:
df.iloc[0]

x       -1.0
y        0.5
total    1.5
Name: 1, dtype: float64

In [134]:
df['dist'] = df.apply(lambda c: find_dist(c.x, c.y), axis=1)

In [135]:
df.tail()

        x      y  total       dist
8219  476  446.0  922.0  106148.00
8220  475  445.5  920.5  105806.25
8221  474  445.0  919.0  105465.00
8222  473  444.5  917.5  105124.25
8223  473  445.5  918.5  105360.75

In [136]:
476*446*0.5

106148.0

In [137]:
df[max(df.dist) == df.dist]

        x       y   total      dist
7118  684  1015.0  1699.0  347130.0

In [138]:
backwards = [684, 1015]
countdown = 684
while countdown > 0:
    backwards = move(backwards, sw)
    countdown += -1
backwards

(0, 673.0)

In [139]:
684 + 673

1357

In [144]:
def find_steps(x, y):
    x = abs(x)
    y = abs(y)
    coord = [x, y]
    if x < y:
        countdown = x
        while countdown > 0:
            coord = move(coord, sw)
            countdown += -1
        return x + sum(coord)
    else:
        return x

In [145]:
find_steps(684, 1015)

1357.0

In [147]:
df["steps"] = df.apply(lambda row: find_steps(row.x, row.y), axis=1)

In [148]:
df.tail()

        x      y  total       dist  steps
8219  476  446.0  922.0  106148.00  476.0
8220  475  445.5  920.5  105806.25  475.0
8221  474  445.0  919.0  105465.00  474.0
8222  473  444.5  917.5  105124.25  473.0
8223  473  445.5  918.5  105360.75  473.0

In [149]:
max(df.steps)

1406.0

That's the right answer! You are one gold star closer to debugging the printer.